.login-wrapper {
    color: white;
    font-family: NetflixSansMedium;
}

.login-wrapper-background {
    background-size: cover;
    display: block;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
}

.session-header {
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.session-body {
    margin: 0 auto -236px;
    max-width: 450px;
    background-color: transparent;
    font-family: NetflixSansMedium;
}

.session-form-container {
    min-height: 610px;
    background-color: rgba(0,0,0,.75);
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    padding: 60px 68px 40px;
}

.session-input-container {
    padding-bottom: 16px;
}

.nfInputPlacement {
    position: relative;
}

.nfEmailControls {
    border-radius: 4px;
}

.session-input-field {
    display: flex;
    align-items: stretch;
    font-size: 16px;
    padding: 15px;
    border: 0;
    border-radius: 4px;
    color: #fff;
    height: 30px;
    line-height: 50px;
    width: 90%;
    background-color: #333;
    margin-bottom: 20px;
}

.session-button {
    border-radius: 4px;
    color: white;
    background-color: #e50914;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
    border: none;
    padding: 15px 10px;
    width: 100%;
    cursor: pointer;
}

.session-redirect-container {
    display: flex;
    margin-bottom: 20px;
}

.session-errors-container {
    margin-left: 2px;
    margin-bottom: 30px;
}

#session-splash-background {
     /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

#session-splash-logo {
    width: 150px;
    padding-left: 28px;
    padding-top: 18px;
}

#session-form-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 28px;
}

#session-redirect-text {
    margin-right: 10px;
    color: rgb(118,118,118);
}

#session-redirect-link {
    text-decoration: none;
}

#session-errors {
    margin-bottom: 10px;
    color: rgb(198, 106, 7);
}